/target/
/week_2_crud/homework_2_4_mongoproc/create_blog_authors/create_blog_authors/target/
/week_2_crud/java_driver_representing_documents/Week2/Week 2/target/
/week 1/project1/target/
/week_2_crud/homework_2_1/spark-freemarker-mongodb/spark-freemarker-mongodb/target/
/week_3_schema_design/homework_3_2_mongoproc/blog/blog/target/